@font-face {
    font-family: 'aleolight';
    src: url('../assets/fonts/Aleo-Regular-webfont.eot');
    src: url('../assets/fonts/Aleo-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/Aleo-Regular-webfont.woff') format('woff'),
         url('../assets/fonts/Aleo-Regular-webfont.ttf') format('truetype'),
         url('../assets/fonts/Aleo-Regular-webfont.svg#aleolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aleobold';
    src: url('../assets/fonts/Aleo-Bold-webfont.eot');
    src: url('../assets/fonts/Aleo-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/Aleo-Bold-webfont.woff') format('woff'),
         url('../assets/fonts/Aleo-Bold-webfont.ttf') format('truetype'),
         url('../assets/fonts/Aleo-Bold-webfont.svg#aleolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: "aleolight" "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.5;
}

h1, h2, h3, h4 {
	font-family: "exo 2";
	font-weight: lighter;
}

h1 small {
	font-weight: lighter;
}

strong {
    font-family: 'aleobold';
    font-weight: normal;
}

.container { margin-bottom: 40px;}

.hero-unit {
	background-color: inherit;
	margin-top: 30px;
}

.homepage .list-group-item:hover {
	background: #f7f7f7;
	cursor: pointer;
}

.homepage .list-group-item a {
	display: block;
}

#logo {
	width: 320px;
}

span.big {
	vertical-align: bottom;
	line-height: 60px;
	font-size: 60px;
	padding-right: 20px;
	color: #999;
}

.page-header.cfg {
	border-bottom: 2px solid #eee;
}


.hero-unit p {
	font-family: 'exo 2', serif;
	color: #C92443;
	font-size: 40px;
	line-height: 40px;
	padding-left: 3px;
	padding-top: 10px;
}

.panel {
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
	box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}

.panel-heading {
	padding: 10px 15px;
	border-bottom: 1px solid transparent;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

.panel-title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 16px;
	color: inherit;
}

.panel-body {
	padding: 15px;
}

.panel-primary {
	border-color: #428bca;
}


.panel-primary>.panel-heading {
	color: #fff;
	background-color: #428bca;
	border-color: #428bca;
}

img#logo {
  margin-bottom: -90px;
}

.page-header h1 {
  text-align: right;
}